@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Light.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Regular.ttf');
    
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Heavy.ttf');
    font-weight: 700;
}
body {
    overflow: initial;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(99.18deg, #f6f6f9, #f4fcff);
    scroll-behavior: smooth;
}
*:focus {
    outline: none;
}
/* NAVBAR AND SCROLLBAR */
.navbar {
    transition: 0.1s;
    background-color: transparent;
}
.navbar-collapse {
    width: 100vw;
    margin: 0;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float: none;
}
.offcanvas-start {
    width: 280px;
}
.offcanvas {
    background-image: url(/assets/sidebar-svg.svg);
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.offcanvas-title, .btn-close {
    color: #fff;
}
.offcanvas-body .navbar-nav .nav-item button {
    margin-top: 20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: none;
}
.offcanvas-body .navbar-nav .nav-item button:hover {
    margin-top: 20px;
    background-color: white;
    border: none;
} 
.offcanvas-body .navbar-nav .nav-item button:hover a{
    color: #D14655 !important;
}
.offcanvas-body .navbar-nav .nav-item .nav-link {
    color: #fff !important;
}
.navbar-toggler {
    position: absolute;
    left: 0;
    margin-left: .5rem;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 0;
    border: none;
}
.navbar-toggler:focus:not(:focus-visible) {
    outline: none !important;
}
.nav-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    color: #333 !important;
}
.navbar-toggler-icon {
    background-image: url(/assets/menu-icon.svg) !important;
}
.scrolled {
    background-color: #f4fcff !important;
    transition: 0.1s linear;
    box-shadow:
    0px 0.6px 1.2px -4px rgba(0, 0, 0, 0.047),
    0px 1.5px 3px -4px rgba(0, 0, 0, 0.067),
    0px 3px 6.2px -4px rgba(0, 0, 0, 0.083),
    0px 6.2px 12.8px -4px rgba(0, 0, 0, 0.103),
    0px 17px 35px -4px rgba(0, 0, 0, 0.15)
    ;
}
.scrolled > .container-fluid > .navbar-collapse > .navbar-nav > .nav-link {
    color: #333 !important;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* LOADER */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* BODY */
.mainCon {
    height: 100vh;
}
.createAccCon {
    width: 100%;
    height: 163px;
    cursor: pointer;
}
.createAccCon img {
    width: 100%;
    height: 100%;
}
.mainBody {
    height: 100vh;
    background: url(/assets/login2-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    transition: 1s;
    transition-timing-function: ease;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
}
.multiply-dark-anim {
    animation-name: multiply-dark;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.col-lg {
    opacity: 0;
    transition: 0.3s;
}
.fade-in-anim {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    transition: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.loginCon {
    border-radius:2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: #fff;
    padding: 2rem;
    transition: all 0.3s;
}

.loginConHeader {
    object-fit: cover;
    object-position: center;
}
.loginConHeader .pbeLogo {
    background-image: url(/assets/pbe-logo.png);
    width: 100px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.loginConHeader h4 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    width: fit-content;
}
.loginCon .btnAndLink button {
    width: 30%;
    height: 38px;
    outline: none;
    background-color: #D14655;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.fade-in-login {
    animation: fade-in 0.3s;
    animation-timing-function: ease-out;
    display: inline-block;
}
.fade-out-login {
    display: inline-block;
    animation: fade-out-and-hide 0.3s;
    animation-fill-mode: forwards;
}
.userIdInput:not(:placeholder-shown) + .userIdLabel {
    background: #FFF;
    transform: translate(0, -50%);
    opacity: 1;
}
.userIdCon {
    position: relative;
    width: 100%;
}
.userIdInput {
    font-weight: 500;
    border-radius: 5px; 
    border: 0.05px solid #666;
    padding: 11px;
    margin: 0;
    width: 100%;
}
.userIdLabel {
    font-weight: 500;
    color: #666;
    /* Position the label */
    left: 0;
    position: absolute;
    top: -15px;
    
    /* Hide it by default */
    opacity: 0;
    transition: all 200ms;
}
.disclaimerLogin p {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
.disclaimerLogin p span a{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
}
.btnAndLink {
    width: 100%;
}
.btnAndLink a {
    width: 70%;
    padding: 0;
    align-self: center;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    color: #333;
}
.btnAndLink button:hover {
    background-color: #333;
}
.securityPhrase {
    width: 100%;
}
.secPhraseImage {
    margin-top: 2rem;
    height: 50px;
    border-radius: 20px;
    background-image: url(/assets/security-phrase-demo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 0.75rem;
}
.yesSecPhrase {
    width: 100px;
    outline: none;
    background-color: #D14655;
    border: 2px #D14655 solid;
    border-radius: 5px;
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.noSecPhrase {
    box-sizing: border-box;
    width: 100px;
    outline: none;
    background-color: #fff;
    border: 2px #D14655 solid;
    border-radius: 5px;
    color: #D14655;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.greetCon h1, .pCon p{
    color: #333;
    font-family: 'Gilroy', sans-serif;
}
.greetCon h1 {
    font-size: 2.6rem;
    font-weight: lighter;
}
.pCon {
    display: none;
    font-weight: 500;
}
.appBadge div {
    display: none;
}
.appleBtn, .appleBtn a {
    min-width: 150px;
    min-height: 50%;
}
.appleBtn a img {
    width: 80%;
    min-width: 100%;
    min-height: 100%;
}
.gPlayBtn {
    min-width: 190px;
}
.gPlayBtn a img {
    width: 100%;
    position: relative;
    top: -12px;
}
.announcementCon {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-top: 7rem;
    max-width: 100%;
    position: relative;
    top: -80px;
}
.announcementCon h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}
.announcementCon h2::after {
    content: "Announcements";
}
.announcementCon h6 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    color: #666;
}
.announcementSlides {
    width: 100%;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 400px;
}
.adContainer {
    width: 200px;
    height: 250px;
}
.adContainer .card-body h5 {
    text-align: center;
}
.adContainer .card-body p::after {
    content: none;
}
.card {
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 10px 14px 53px -8px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 14px 53px -8px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 14px 53px -8px rgba(0,0,0,0.39);
}
.swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: #D14655 !important;
}
.swiperPrevBtn, .swiperNextBtn {
    color: #fff;
    background-color: #D14655;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    bottom: 50%;
    font-size: 1.3rem;
    transition: 0.3s;
}
.swiperPrevBtn {
    left: 0;
    box-shadow:
    1.4px 2.8px 2.2px rgba(0, 0, 0, 0.037),
    3.4px 6.7px 5.3px rgba(0, 0, 0, 0.053),
    6.4px 12.5px 10px rgba(0, 0, 0, 0.065),
    11.4px 22.3px 17.9px rgba(0, 0, 0, 0.077),
    21.3px 41.8px 33.4px rgba(0, 0, 0, 0.093),
    51px 100px 80px rgba(0, 0, 0, 0.13)
    ;
    
}
.swiperNextBtn {
    right: 0;
    box-shadow:
    2.7px 2.5px 2.2px rgba(0, 0, 0, 0.031),
    6.6px 6.1px 5.3px rgba(0, 0, 0, 0.044),
    12.4px 11.4px 10px rgba(0, 0, 0, 0.055),
    22.1px 20.3px 17.9px rgba(0, 0, 0, 0.066),
    41.4px 38px 33.4px rgba(0, 0, 0, 0.079),
    99px 91px 80px rgba(0, 0, 0, 0.11)
    ;   
}
.swiperPrevBtn:hover, .swiperNextBtn:hover {
    background-color: #333;
}
.swiper-button-disabled {
    display: none !important;
}

/*------------------------------ CHEVRON --------------------------------------*/

.chevronContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-self: center;
    justify-self: center;
    bottom: 130px;
    margin-bottom: 10%;
    opacity: 0;
}

.chevron {
    position: absolute;
    width: calc(0.6rem * 3.5);
    height: calc(0.6rem * 0.8);
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #333;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 3.8));
    }
    66.6% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 5.2));
    }
    100% {
        opacity: 0;
        transform: translateY(calc(0.6rem * 8)) scale(0.5);
    }
    
}

/* ANIMATIONS */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade-out-and-hide {
    0% {
        opacity: 1;
        display: inline-block;
    }
    99% {
        opacity: 0;
        display: inline-block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes multiply-dark {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

/* MEDIA QUERIES */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .loginCon {
        padding: 2.5rem;
    }
    .userIdCon {
        width: 350px;
    }
    .adContainer {
        width: 250px;
        height: 300px;
    }
    .swiper {
        width: 400px;
    }
    .greetCon {
        padding-left: 6.5rem !important;
        padding-right: 6.5rem !important;
    }
    .greetCon h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .adContainer {
        width: 350px;
        height: 300px;
    }
    
    .swiper {
        width: 550px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mainBody {
        background-position-x: left;
    }
    .greetCon {
        padding-left: 3rem !important;
        padding-right: 6rem !important;
        padding-top: 5rem;
    }
    .greetCon h1 {
        font-size: 3.7rem;
        margin-top: 0;
    }
    .pCon {
        display: block;
        width: 90%;
    }
    .pCon p {
        font-weight: 500;
    }
    
    .announcementCon h2::after {
        content: "Latest Announcements that might interest you";
    }
    .appBadge div {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        
    }
    .appleBtn, .appleBtn a {
        min-width: 150px;
        min-height: 50%;
    }
    .appleBtn a img {
        width: 80%;
        min-width: 100%;
        min-height: 100%;
    }
    .gPlayBtn {
        min-width: 190px;
    }
    .gPlayBtn a img {
        width: 100%;
        position: relative;
        top: -12px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .greetCon {
        padding-top: 2rem;
    }
    .greetCon h1 {
        width: 70%;
    }
    .pCon {
        width: 80%;
    }
    .announcementCon {
        height: 85vh;
        padding: 3rem;
        padding-top: 5rem;
        top: 0;
        max-width: none;
    }
    .swiper {
        width: 800px;
        height: 400px;
    }
    .adContainer {
        width: 300px;
        height: 350px;
    }    
    /* .chevronContainer {
        position: absolute;
    } */
    .loginCon {
        position: relative;
        left: 10%;
    }
    
}

/* /X-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
    
}
